/* Estilos para el cuerpo */
body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow: scroll; /* Permite desplazamiento vertical y horizontal */
  height: 90vh; /* Área ampliada para desplazamiento */
  width: 100vw;
}

/* Canvas como fondo */
canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 2000px; /* Ampliar el ancho */
  height: 2000px; /* Ampliar la altura */
  background: #000;
  z-index: -1;
}

/* Imagen centrada */
#centerImage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px; /* Ajusta el tamaño del ancho */
  height: 400px; /* Ajusta el tamaño de la altura */
  z-index: 1;
  animation: blinkGlow 2s infinite;
}


/* Animación de brillo y parpadeo */
@keyframes blinkGlow {
  0%, 100% {
    opacity: 0.2;
    filter: brightness(0.5);
  }
  50% {
    opacity: 1;
    filter: brightness(2);
  }
}
